<h1>Dữ liệu từ Controller gửi về là: @ViewBag.infoPerson</h1>
<form asp-action="Index">
    <label> Nhap PersonId</label>
    <input type =""text" name ="PersonId">
    <label>Nhap ho va ten:</label> 
    <input type = "text" name ="fullname">
    <label>Nhap dia chi:</label>
    <input type ="text" name = "Address">
    <input type = "submit" value ="gui du lieu">
</form>