<h1>dữ liệu Controller gửi về là @ViewBag.infoEmployee</h1>
<form -asp-action="Index">
    <label> Nhập EmployeeId</label>
    <input type ="text" name ="EmployeeId">
    <label>Nhập tuổi:</label>
    <input type="text " name ="Age">
    <input type = "submit" value = "gửi dữ liệu">
</form>