@model IEnumerable<MvcMovie.Models.Person>
@using X.PagedList;
@using X.PagedList.Mvc.Core;

@{
    ViewData["Title"] = "Home Page";
}
<h1>Index</h1>
<p>
    <a asp-action="Create">Create New</a>
    <a class="btn btn-success" asp-action="Download">Download</a>
</p>

<table class="table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(Models => model.fullname)
            </th>
            <th>
                @Html.DisplayNameFor(models => model.Address)
            </th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Models) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.fullname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item. Address)
                </td>
            </tr>
        }
    </tbody>
</table>
